name: Android Build Check

# Run this upon a pull-request to the development branch.
on:
  pull_request:
    branches:
      - main
      - deps-and-versions

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Check out the code.
      - uses: actions/checkout@v6

      # Setup the specific JDK.
      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: gradle

      # Setup the permission for running Gradle.
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      # Run the ktlint check.
      - name: Lint Checks
        run: ./gradlew ktlintCheck

      # Run the Sonarscan check.
      - name: Sonarscan Checks
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: ./gradlew sonar -Dsonar.token=$SONAR_TOKEN

      - name: Decode and create google-services.json
        env:
          GOOGLE_SERVICES_JSON: ${{ secrets.GOOGLE_SERVICES_JSON }}
        run: echo "$GOOGLE_SERVICES_JSON" | base64 --decode > app/google-services.json

#      # Create google-services file
#      - name: Create file
#        run: cat /home/runner/work/news-shots-android-app/news-shots-android-app/app/google-services.json | base64
#
#      # Update google-services file
#      - name: Update data
#        env:
#          DATA: ${{secrets.GOOGLE_SERVICES_JSON}}
#        run: echo $DATA > /home/runner/work/news-shots-android-app/news-shots-android-app/app/google-services.json

      # Attempt to build the project.
      - name: Build Project
        run: ./gradlew assembleDebug

      # Attempt to run the unit tests.
      - name: Run Unit Tests
        run: ./gradlew test